.bg2{
    height: 590px;
    background: $l3-p1;
    background-image: url(../../../img/town.png);
    background-repeat: no-repeat;
}
.middle-bg{
    margin-top: -70px;
    height: 140px;
    background-color: $p-1;
}
.fl2{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.input-placeholder{
    @include select (200px, 40px);
  }
.button_empty{
    @include button_empty (40px, 40px);
    margin: 0;
}
.button_empty:nth-child(2){
    width: 60px;
}
.org{
    width: 200px;
}
.girl-img{
    position: relative;
    top: 60px;
    left: 100px;
}
.h1_blue{
    margin-top: 130px;
    font-family: $font-PB;
    color: $p-1;
    line-height: 40px;
    letter-spacing: -2px;
}
.h1_black{
    font-family: $font-PB;
    line-height: 20px;
    letter-spacing: -2px;
}
.p_{
    margin-top: 20px;
    line-height: 30px;
    color: gray;
    font-size: 20px;
}
.write-hand-pic{
    padding: 0 20px;
    width: 100%;
}
.add-margine{
    padding: 30px 0;
}
.sitename{
    font-family: $font-PL !important;
    color: $p-1;
    font-size: 20px;
    font-weight: 500;
}
.sitename2{
    font-family: $font-PL !important;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
h2{
    font-family: $font-PB !important;
}
h4{
    font-family: $font-PR !important;
}
p{
   font-family: $font-PR !important;
}
.bg-middle-3ple-bar{
    height: 660px;
    padding-top: 50px;
    background-image: url(../img/bg.png);
    h2{
        color: #fff;
        padding-bottom: 50px;
    }
    article{
        background-color: #fff;
        padding: 25px;
    }
    img{
        padding: 30px;
    }
}
.text-al{
    text-align: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.bg-middle-4ple-bar{
    height: 550px;
    padding-top: 50px;
    article{
        background-color: #fff;
        padding: 25px;
    }
    img{
        padding: 30px;
    }
}
.bg-rocket{
    background-image: url(../img/bg-rocket.png);
    background-repeat: no-repeat;
    height: 800px;
    h2{
        color: #fff;
    }
    h4{
        color: #fff;
        margin-top: 30px;
    }
}
.bg-white{
    height: 500px;
    padding: 40px;
}
.bg-skyblue{
    background-color: $p-1;
    background-image: url(../img/sphere.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.shadow-block{
    box-shadow: 0 0 40px gray;
}
.sphere-block{
    h3{
        color: $p-2;
        font-family: $font-PB !important;
    }
    
   
}
h5{
    font-family: $font-PSM !important;
    color: $p-1;
}
p{
    font-family: $font-PR !important;
    color: gray;
}
.wrapik{
    display: flex;
    flex-wrap: wrap;
    div{
        margin: 20px 125px;
    }
    .hr-one{
        position: absolute;
        height: 80%;
        margin: 0 auto;
        border: 1px solid lightgray;
        left: 375px;
    }
    .hr-two{
        position: absolute;
        height: 120%;
        margin: 0 auto;
        border: 1px solid lightgray;
        left: 375px;
        top: -70px;
        transform: rotate(90deg);
    }
}
.hhh{
    height: 200px;
}